@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic);
$mainColor: #3c0256;

// Small screens
@media only screen and (max-width: 40em) { 
    
  
    .skills {
    color: white;
    float: right;
    margin-top: 60vh;
    width: 100vw;
    height: 30vw;
    padding: 2vh;
    font-family: 'Roboto Condensed';
    z-index: 100;
}
 
 main {
    height: 130%;
    width: 100%;
    position: relative;
    font-size: 0.8em;
}     


footer {
    position: absolute;
    left: 0;
    bottom: -45vh;
    height: 9vh;
    width: 100%;
    overflow:hidden;
}


#htmlTab {
    height: 10vh;
    border-radius: 5%;
    width: 100vw;
}

#css {
    width: 100vw;
}

#javascript {
    width: 100vw;
}

#rwd {
    width: 100vw;
}

#cssLogo {
    position: absolute;
    left: 0;
    margin-left: 2em;
    top: 35em;
}

#htmlLogo {
    position: absolute;
    left: 0;
    margin-left:2em;
    top: 30em;
}

#javascriptLogo {
    position: absolute;
    left: 0;
    margin-left:2em;
    top: 39.5em;
}

#rwdLogo {
    position: absolute;
    left: 0;
    margin-left:2em;
    top: 44em;
}

#htmlText {
    width: 60vw;
    height: 4vh;
    margin-bottom: 1em;
    float: left;
    position: absolute;
    left: 5em;
    top: 31em;
}

#cssText {
    width: 60vw;
    height: 4vh;
    margin-bottom: 1em;
    float: left;
    position: absolute;
    left: 5em;
    top: 36em;
}

#javascriptText {
    width: 60vw;
    height: 4vh;
    margin-bottom: 1em;
    float: left;
    position: absolute;
    left: 5em;
    top: 40em;
}

#rwdText {
    width: 60vw;
    height: 4vh;
    margin-bottom: 1em;
    float: left;
    position: absolute;
    left: 5em;
    top: 44em;
}
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

    
// Medium screens
@media only screen and (min-width: 40.063em) { 
    
    .skills {
    color: white;
    float: right;
    margin-right: 10vw;
    margin-top: 10vh;
    width: 30vw;
    height: 25vw;
    padding: 2vh;
    font-family: 'Roboto Condensed';
    z-index: 100;
}

main {
    height: 80%;
    width: 100%;
    position: relative;
    font-size: 0.8em;
}

#htmlText {
    width: 60vw;
    height: 4vh;
    float: left;
    position: absolute;
    left: 37em;
    top: 3em;
}

#cssText {
    width: 60vw;
    height: 4vh;
    margin-bottom: 1em;
    float: left;
    position: absolute;
    left:38em;
    top: 6em;
}

#javascriptText {
    width: 60vw;
    height: 4vh;
    margin-bottom: 1em;
    float: left;
    position: absolute;
    left:38em;
    top: 10em;
}

#rwdText {
    width: 60vw;
    height: 4vh;
    margin-bottom: 1em;
    float: left;
    position: absolute;
    left: 38em;
    top: 15em;
}

#htmlLogo {
    background-image: url('../media/svg/HTML5.svg');
    width: 7vh;
    height: 8vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 1em;
    float: left;
    position: absolute;
    left: 33em;
    top: 4em;
}

#cssLogo {
    background-image: url('../media/svg/css.svg');
    width: 7vh;
    height: 8vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 1em;
    float: left;
    position: absolute;
    left: 33em;
    top: 9em;
}

#javascriptLogo {
    background-image: url('../media/svg/javascript.svg');
    width: 7vh;
    height: 8vh;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    position: absolute;
    left: 33em;
    top: 13em;
}

#rwdLogo {
    background-image: url('../media/svg/rwd.svg');
    width: 7vh;
    height: 8vh;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    position: absolute;
    left: 33em;
    top: 16em;
}

} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    
    .skills {
    color: white;
    float: right;
    margin-right: 5vw;
    margin-top: 10vh;
    width: 40vw;
    height: 25vw;
    padding: 2vh;
    font-family: 'Roboto Condensed';
    z-index: 100;
}

main {
    height: 80%;
    width: 100%;
    position: relative;
    font-size: 0.8em;
}

#htmlText {
    width: 20vw;
    height: 4vh;
    margin-bottom: 1em;
    float: left;
    position: absolute;
    left: 37em;
    top: 5em;
}

#cssText {
    width: 20vw;
    height: 4vh;
    margin-bottom: 1em;
    float: left;
    position: absolute;
    left: 37em;
    top: 10em;
}

#javascriptText {
    width: 20vw;
    height: 4vh;
    margin-bottom: 1em;
    float: left;
    position: absolute;
    left: 37em;
    top: 15em;
}

#rwdText {
    width: 20vw;
    height: 4vh;
    margin-bottom: 1em;
    float: left;
    position: absolute;
    left: 37em;
    top: 20em;
}

#htmlLogo {
    background-image: url('../media/svg/HTML5.svg');
    width: 7vh;
    height: 8vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 1em;
    float: left;
    position: absolute;
    left: 33em;
    top: 4em;
}

#cssLogo {
    background-image: url('../media/svg/css.svg');
    width: 7vh;
    height: 8vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 1em;
    float: left;
    position: absolute;
    left: 33em;
    top: 9em;
}

#javascriptLogo {
    background-image: url('../media/svg/javascript.svg');
    width: 7vh;
    height: 8vh;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    position: absolute;
    left: 33em;
    top: 13.5em;
}

#rwdLogo {
    background-image: url('../media/svg/rwd.svg');
    width: 7vh;
    height: 8vh;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    position: absolute;
    left: 33em;
    top: 18em;
}

 } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
    
    .skills {
    color: white;
    float: right;
    margin-right: 30vw;
    margin-top: 10vh;
    width: 30vw;
    height: 25vw;
    padding: 2vh;
    font-family: 'Roboto Condensed';
    z-index: 100;
}

main {
    height: 80%;
    width: 100%;
    position: relative;
    font-size: 0.8em;
}

#htmlText {
    width: 20vw;
    height: 4vh;
    margin-bottom: 1em;
    float: left;
    position: absolute;
    left: 37em;
    top: 5em;
}

#cssText {
    width: 20vw;
    height: 4vh;
    margin-bottom: 1em;
    float: left;
    position: absolute;
    left: 37em;
    top: 10em;
}

#javascriptText {
    width: 20vw;
    height: 4vh;
    margin-bottom: 1em;
    float: left;
    position: absolute;
    left: 37em;
    top: 15em;
}

#rwdText {
    width: 20vw;
    height: 4vh;
    margin-bottom: 1em;
    float: left;
    position: absolute;
    left: 37em;
    top: 20em;
}

#htmlLogo {
    background-image: url('../media/svg/HTML5.svg');
    width: 7vh;
    height: 8vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 1em;
    float: left;
    position: absolute;
    left: 33em;
    top: 4em;
}

#cssLogo {
    background-image: url('../media/svg/css.svg');
    width: 7vh;
    height: 8vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 1em;
    float: left;
    position: absolute;
    left: 33em;
    top: 9em;
}

#javascriptLogo {
    background-image: url('../media/svg/javascript.svg');
    width: 7vh;
    height: 8vh;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    position: absolute;
    left: 33em;
    top: 13.5em;
}

#rwdLogo {
    background-image: url('../media/svg/rwd.svg');
    width: 7vh;
    height: 8vh;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    position: absolute;
    left: 33em;
    top: 18em;
}

 } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens

@media only screen and (min-width: 90.063em) and (max-width: 120em) {
    
    .skills {
    color: white;
    float: right;
    margin-right: 40vw;
    margin-top: 10vh;
    width: 30vw;
    height: 25vw;
    padding: 2vh;
    font-family: 'Roboto Condensed';
    z-index: 100;
}

main {
    height: 80%;
    width: 100%;
    position: relative;
    font-size: 0.8em;
}

#htmlLogo {
    background-image: url('../media/svg/HTML5.svg');
    width: 7vh;
    height: 8vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 1em;
    float: left;
    position: absolute;
    left: 33em;
    top: 4em;
}

#cssLogo {
    background-image: url('../media/svg/css.svg');
    width: 7vh;
    height: 8vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 1em;
    float: left;
    position: absolute;
    left: 33em;
    top: 9em;
}

#javascriptLogo {
    background-image: url('../media/svg/javascript.svg');
    width: 7vh;
    height: 8vh;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    position: absolute;
    left: 33em;
    top: 13.5em;
}

#rwdLogo {
    background-image: url('../media/svg/rwd.svg');
    width: 7vh;
    height: 8vh;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    position: absolute;
    left: 33em;
    top: 18em;
}

#htmlText {
    width: 20vw;
    height: 4vh;
    margin-bottom: 1em;
    float: left;
    position: absolute;
    left: 37em;
    top: 5em;
}

#cssText {
    width: 20vw;
    height: 4vh;
    margin-bottom: 1em;
    float: left;
    position: absolute;
    left: 37em;
    top: 10em;
}

#javascriptText {
    width: 20vw;
    height: 4vh;
    margin-bottom: 1em;
    float: left;
    position: absolute;
    left: 37em;
    top: 15em;
}

#rwdText {
    width: 20vw;
    height: 4vh;
    margin-bottom: 1em;
    float: left;
    position: absolute;
    left: 37em;
    top: 20em;
}

 } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */

header {
    position: relative;
    float: left;
    margin-left: 0;
}

.navBox {
    background-color: $mainColor;
    height: 20%;
    z-index: 2;
}
nav {
    margin-right: 0.5em;
}

nav li {
    display: inline-flex;
    font-family: 'Roboto Condensed';
    color: white;
    padding: 0 0.5em 1em 0.5em;
    float: left;
}

nav li:hover {
    background-color: black;
}

nav li a {
    background-repeat: no-repeat;
    background-position: 50% 10%;
    background-size: 2.5em;
    display:block;
    text-align:center;
    padding-top: 3em; 
    margin-top: 1em;
    color: white;
    align-items: stretch;
    
}

.menuHome a {
    background-image: url('../media/svg/home.svg');
}

.menuAboutMe a {
    background-image: url('../media/svg/me.svg');
}

.menuBlog a {
    background-image: url('../media/svg/planets.svg');
}

.menuContact a {
    background-image: url('../media/svg/contact.svg');
}
#wrap {
  margin-top: 1em;
  display: block;
  height: 2em;
  float: right;
  border: none;
  padding: 1em;
}

.navIcons {
    width: 2em;
}

.navIcons img {
    margin: auto;
    display: inline-block;
    margin-bottom: 1em;
}

.navIcons div {
    margin: auto;
    text-align: center;
    font-size: 0.8em;
}

#main {
    border: 2px solid blue;
    height: 20vh;
    width: 20vh;
    color: red;
}

#textArea {
    color: white;
    font-family: "Roboto Condensed";
    width: 30em;
    height: 5em;
    padding: 3em 3em 0 3em;
}

#sun {
    position: absolute;
    top: 28vh;
    left: 23vh;
    background:yellow;

    height: 10vh;
    width: 10vh;
    border-radius: 50%;

    box-shadow: 0 0 40px red;
}

#skill1 {
    position: absolute;
    top: 5vh;
    left: -1vh;
    background:#E34D26;
    border-radius:50%;
    height: 4vh;
    width: 4vh;
  
}

#skill1-orbit {
    position: absolute;
    left: 18vh;
    top: 23vh;


    width: 20vh;
    height: 20vh;

    border-width: 1px;
    border-style: solid;
    border-color: white;
    border-radius:50%;
    
    
    -webkit-animation: spin-right 60s linear infinite;
    -moz-animation: spin-right 60s linear infinite;
    animation: spin-right 60s linear infinite;
}

#skill1-moon-orbit {
position: absolute;
    top: 50%;
    left: 50%;

    width: 5vh;
    height: 5vh;
    margin-top:  -2.5vh;
    margin-left: -2.5vh;

    border-width: 0px;
    border-style: solid;
    border-color:transparent ;
    border-radius:50%;
    
    
    -webkit-animation: spin-right 2.5s linear infinite;
    -moz-animation: spin-right 2.5s linear infinite;
    animation: spin-right 2.5s linear infinite;
}

#skill1-moon{
position: absolute;
    top: 0;
    left: 50%;
    background:#b2beb5;
    border-radius:50%;
    height: 1vh;
    width: 1vh;
    margin-left: -1vh;
    margin-top: -1vh;
}

#skill2 {
position: absolute;
    top: 0;
    left: 50%;
    background:#0170B9;
    border-radius:50%;
    height: 4vh;
    width: 4vh;
    margin-left: -2vh;
    margin-top: -2vh;
  
}
#skill2-orbit {
position: absolute;
    top: 50%;
    left: 50%;

    width: 30vh;
    height: 30vh;
    margin-top: -15vh;
    margin-left: -15vh;

    border-width: 1px;
    border-style: solid;
    border-color: white;
    border-radius:50%;
    
    
    -webkit-animation: spin-right 11s linear infinite;
    -moz-animation: spin-right 11s linear infinite;
    animation: spin-right 11s linear infinite;
}

#skill3 {
position: absolute;
    top: 0;
    left: 50%;
    background:#D5B932;
    border-radius:50%;
    height: 4vh;
    width: 4vh;
    margin-left: -2vh;
    margin-top: -2vh;
  
}
#skill3-orbit {
position: absolute;
    top: 50%;
    left: 50%;

    width: 40vh;
    height: 40vh;
    margin-top: -20vh;
    margin-left: -20vh;

    border-width: 1px;
    border-style: solid;
    border-color: white;
    border-radius:50%;
    
    
    -webkit-animation: spin-right 40s linear infinite;
    -moz-animation: spin-right 40s linear infinite;
    animation: spin-right 40s linear infinite;
}


#skill4 {
position: absolute;
    top: 0;
    left: 50%;
    background: #1CA48F;
    border-radius:50%;
    height: 3vh;
    width: 3vh;
    margin-left: -2vh;
    margin-top: -2vh;
  
}
#skill4-orbit {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 52vh;
    height: 52vh;
    margin-top: -26vh;
    margin-left: -26vh;

    border-width: 1px;
    border-style: solid;
    border-color: white;
    border-radius:50%;
    
    
    -webkit-animation: spin-right 64s linear infinite;
    -moz-animation: spin-right 64s linear infinite;
    animation: spin-right 64s linear infinite;
}


@-webkit-keyframes spin-right {
  100% {
      -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spin-right {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin-right {
  100% { 
      transform: rotate(-360deg);
    }
}

#htmlLogo {
    background-image: url('../media/svg/HTML5.svg');
    width: 7vh;
    height: 8vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 1em;
    float: left;
    margin-top: 1vh;
}

#htmlText {
    width: 40vw;
    height: 4vh;
    margin-bottom: 1em;
    float: left;
    margin-left: 1em;
    padding-top: 1em;
}

#cssLogo {
    background-image: url('../media/svg/css.svg');
    width: 7vh;
    height: 8vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 1em;
    float: left;
}

#cssText {
    width: 40vw;
    height: 8vh;
    margin-bottom: 1em;
    float: left;
    margin-left: 1em;
}

#javascriptLogo {
    background-image: url('../media/svg/javascript.svg');
    width: 7vh;
    height: 8vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 1em;
    float: left;
}

#javascriptText {
    width: 40vw;
    height: 8vh;
    margin-bottom: 1em;
    float: left;
    margin-left: 1em;
}

#rwdLogo {
    background-image: url('../media/svg/rwd.svg');
    width: 7vh;
    height: 8vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 1em;
    float: left;
}

#rwdText {
    width: 40vw;
    height: 8vh;
    margin-bottom: 1em;
    float: left;
    margin-left: 1em;
}

.borderClass {
    border: 1px solid yellow;
}