@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic);

body {
	background: white;
}

header {
    background-color: $mainColor;
    position: absolute;
    left: 0;
    top: 0;
    height: 100px;
    width: 100%;
    overflow:hidden;
}

nav {
    margin-left: 1em;
}

nav li {
    display: inline-flex;
    font-family: 'Roboto Condensed';
    color: white;
    padding: 0.25em;
}

nav li:hover {
    background-color: black;
}

nav li a {
    background-repeat: no-repeat;
    background-position: 50% 10%;
    background-size: 2.5em;
    display:block;
    text-align:center;
    padding: 3em 0.25em 0 0.25em; 
    margin-top: 1em;
    color: white;
    align-items: stretch;
}

nav li a:hover {
    color: $secondColor;
}
.menuHome a {
    background-image: url('../media/svg/home.svg');
}

.menuAboutMe a {
    background-image: url('../media/svg/me.svg');
}

.menuBlog a {
    background-image: url('../media/svg/planets.svg');
}

.menuContact a {
    background-image: url('../media/svg/contact.svg');
}

footer {
    background-color: $mainColor;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 9vh;
    width: 100%;
    overflow:hidden;
}

footer .small-12 columns {
    display: flex;
    justify-content: flex-start;
}

i {
    font-size: 2.8em;
    color: white;
    vertical-align: centre;
    padding: 0.25em;
    display: inline-flex;
}

#findMeFooter {
    font-family: 'Roboto Condensed';
    color: white;
    display: inline-flex;
    padding: 0.25em;
    align-self: baseline;
}